@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post" class="add">
            <div asp-validation-summary="ModelOnly" class="text-muted" role="alert"></div>
            <div class="mb-3">
                <label asp-for="Input.OldPassword" class="text-muted"></label>
                <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                <input asp-for="Input.OldPassword" class="input" autocomplete="current-password" aria-required="true" placeholder="Please enter your old password." />
            </div>
            <div class="mb-3">
                <label asp-for="Input.NewPassword" class="text-muted"></label>
                <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                <input asp-for="Input.NewPassword" class="input" autocomplete="new-password" aria-required="true" placeholder="Please enter your new password." />
            </div>
            <div class="mb-3">
                <label asp-for="Input.ConfirmPassword" class="text-muted"></label>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                <input asp-for="Input.ConfirmPassword" class="input" autocomplete="new-password" aria-required="true" placeholder="Please confirm your new password."/>
            </div>
            <button type="submit" class="button">Update password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
