@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="email-form" method="post" class="add">
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>
            @if (Model.IsEmailConfirmed)
            {
                <div class="mb-3">
                    <label asp-for="Email" class="text-muted"></label>
                    <input asp-for="Email" class="input" placeholder="Please enter your email." disabled />
                </div>
            }
            else
            {
                <div class="mb-3">
                    <label asp-for="Email" class="text-muted"></label>
                    <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                    <input asp-for="Email" class="input" placeholder="Please enter your email." disabled />
                </div>
            }
            <div class="mb-3">
                <label asp-for="Input.NewEmail" class="text-muted"></label>
                <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
                <input asp-for="Input.NewEmail" class="input" autocomplete="email" aria-required="true" placeholder="Please enter new email." />
            </div>
            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="button">Change email</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
