@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post" class="add">
            <div asp-validation-summary="ModelOnly" class="text-muted" role="alert"></div>
            <div class="mb-3">
                <label asp-for="Username" class="text-muted" style="float:"></label>
                <input asp-for="Username" class="input" placeholder="Please choose your username." disabled />
            </div>
            <div class="mb-3">
                <label asp-for="Input.PhoneNumber" class="text-muted"></label>
                <span asp-validation-for="Input.PhoneNumber" class="text-muted"></span>
                <input asp-for="Input.PhoneNumber" class="input" placeholder="Please enter your phone number." />
            </div>
            <button id="update-profile-button" type="submit" class="button">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
