@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

<ul class="navbar-nav imported_value">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
            <a class="nav-link text-dark header-link" asp-area="" asp-page="/Add">Add</a>
    </li>
    <li class="nav-item">
            <a class="nav-link text-dark header-link" asp-area="" asp-page="/History">History</a>
    </li>
    <li class="nav-item">
            <a class="nav-link text-dark header-link" asp-area="" asp-page="/Preferences">Preferences</a>
    </li>
    <li class="nav-item">
            <a class="nav-link text-dark header-link" asp-area="" asp-page="/Help">Help</a>
    </li>
    <li class="nav-item">
            <a class="nav-link text-dark header-link" asp-area="" asp-page="/Privacy">Privacy</a>
    </li>
}
else
{
    <li class="nav-item">
            <a class="nav-link text-dark header-link" asp-area="" asp-page="/Help">Help</a>
    </li>
    <li class="nav-item">
            <a class="nav-link text-dark header-link" asp-area="" asp-page="/Privacy">Privacy</a>
    </li>
}
</ul>
