@page
@model AddModel

@using LittleBitHelperExpenseTracker.Models;

@{
    ViewData["Title"] = "Add";
}

<h4 style="margin: 20px; display: flex; justify-content: center">Add new record</h4>
<form method="post" class="add">
    <div class="mb-3">
        <input type="text" name="expenseType" placeholder=" Expense Type..." autocomplete="off" autofocus class="input" required id="symbol">
    </div>
    <div class="mb-3">
        <input name="expenseAmount" placeholder=" Expense Amount..." autocomplete="off" class="input" id="shares" required type="number">
    </div>
    <div>
        <div class="float_right">
            <label for="currency"><span class="regular">Currency:</span></label>
            <select name="currency" id="currency" class="dropdown">
                <option value="@AddModel.DefaultCurrency">@AddModel.DefaultCurrency</option>
                @foreach (var item in JsonOperations.ExchangeRatePersistent.Rates.Keys)
                {
                    <option value="@item">@item</option>
                }

            </select>
        </div>
    </div>
    <br>
    <div class="mb-3">
        <br>
        <input type="text" name="expenseComment" placeholder=" Expense Comment..." autocomplete="off" class="input" id="comment">
    </div>
    <button class="button" type="submit">Submit</button>
</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
