@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

@if (ErrorModel.OriginalStatusCode == 0)
{
    <h1 class="text-danger">Error</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>
}
else
{
    <h1 class="text-danger">Error @ErrorModel.OriginalStatusCode</h1>
    <h2 class="text-danger">An error occurred while processing your request.</h2>
}

<p>
    Try to reload the page
</p>
<p>
    or come back later
</p>
