@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}


<div class="container">
    <img src="~/images/egg.jpg" height="450" alt="error">
    @if (ErrorModel.OriginalStatusCode == 0)
    {
        <div class="centered_top">Error</div>
        <div class="centered_bottom">An error occurred while processing your request</div>
    }
    else
    {
        <div class="centered_top">Error @ErrorModel.OriginalStatusCode</div>
        <div class="centered_bottom">An error occurred<br/>while processing your request</div>
    }
    
</div>
