html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

table, th, td {
    border: 1px solid black;
}







/* Button */
.button {
    background-color: #cfeeff;
    color: #21688f;
    border-radius: 5px;
    padding: 8px;
    border: 1px solid #e4eff5;
}

    .button:hover {
        background-image: linear-gradient(to bottom right, #cfeeff, #aed4e8);
        box-shadow: 0 1px #e6f0f5;
        border: 1px solid #9cc5db;
    }

    .button:active {
        background-image: linear-gradient(to bottom right, #aed4e8, #cfeeff);
        box-shadow: 0 1px #ccd8de;
        transform: translateY(1px);
        border: 1px solid #1985bf;
    }

/* Input */
.input {
    background-image: linear-gradient(to top left, #cfeeff, #f0fcff);
    width: 100%;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 5px;
    max-width: 250px;
    color: #454545;
    padding: 8px 10px;
    border: 3px solid #c9c9c9;
    outline: none;
    transition: 0.2s;
}

input[type=number] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.input:focus {
    border: 3px solid #1985bf;
}

.input:hover {
    border: 3px solid #1985bf;
    background-image: linear-gradient(to bottom right, #cfeeff, #f0fcff);
    transition: 0.1s;
}

.add {
    width: 100%;
    max-width: 250px;
    margin: auto;
}

.filter {
    max-width: none;
}

/* Table */
.table {
    width: 100%;
    max-width: 800px;
    margin: auto;
}

.table_header {
    border-bottom: 1px solid #1985bf;
    background-image: linear-gradient(to bottom right, #cfeeff, #aed4e8);
    height: 60px;
    color: #21688f;
    letter-spacing: 1px;
    line-height: 2.5;
}

.table_row {
    height: 50px;
    border-bottom: 1px solid #1985bf;
    color: #454545;
    margin: 5px;
    padding: 5px;
    white-space: nowrap;
}

.cell_aligned_vertical {
    vertical-align: middle;
}

/* Paragraph */
p {
    font-size: large;
    color: #696969;
}

.layout_p {
    font-size: small;
    color: #696969;
}

.float_right {
    float: right;
}

/* Text parameters */
h3, .imported_value {
    color: #21688f;
}

h2, h6, .command {
    color: #1985bf;
}

.about {
    text-align: left;
}

.regular {
    color: #696969;
}

.allow_wrap {
    white-space: normal;
}

/* Dropdown */
.dropdown {
    background-color: #cfeeff;
    color: #21688f;
    border-radius: 5px;
    padding: 8px 10px;
}

    .dropdown:hover {
        background-image: linear-gradient(to bottom right, #cfeeff, #aed4e8);
        color: #21688f;
        border-radius: 5px;
        padding: 8px 10px;
    }

.header-link {
    color: #21688f;
    font-size: 130%;
    text-decoration: none;
    padding: 8px;
    margin: 3px;
}

    .header-link:hover {
        color: #1985bf;
        background-color: #cfeeff;
        border-radius: 5px;
        transition: 0.03s;
    }

    .header-link:active {
        color: #21688f;
        background-color: #c0e6fa;
        border-radius: 5px;
        transition: 0.03s;
    }

/* Home button/logo */

.header-home {
    color: #1985bf;
    font-size: 220%;
    text-decoration: none;
    line-height: 0.5;
    padding: 8px;
    margin: 5px;
}

    .header-home:hover {
        color: #0874ae;
        background-image: linear-gradient(to bottom right, #cfeeff, #aed4e8);
        border-radius: 5px;
        transition: 0.03s;
    }

    .header-home:active {
        color: #1985bf;
        background-image: linear-gradient(to bottom left, #aed4e8, #cfeeff);
        border-radius: 5px;
        transition: 0.03s;
    }

/* apology page styles */
/* Container holding the image and the text */
.container {
    position: relative;
    text-align: center;
    color: white;
}

/* Centered text */
.centered_top {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 500%;
    font-weight: bold;
}

/* Centered text */
.centered_bottom {
    position: absolute;
    bottom: -1%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 150%;
}

.nav_custom {
    background-image: linear-gradient(to bottom right, #cfeeff, #aed4e8);
}